header {
  background-color: #193498;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 50px;
  height: 50px;
  box-shadow: 0 0 3px #333;
}

/*--------------*/
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left #menu-icon {
  position: absolute;
  margin-right: 10px;
  font-size: 22pt;
  color: #fff;
  cursor: pointer;
  left: 10px;
  top: 10px;
}

.left h2 {
  color: #fff;
}

.left ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}

.left ul li a {
  background: #193498;
  padding: 5px 6px;
  border: 1px solid #193498;
  border-radius: 5px;
  transition: 0.3s;
}

.left ul li a:hover {
  background: #1597e5;
  border: 1px solid #69dadb;
}

.left ul li:nth-child(1) {
  padding-left: 50px;
}

.left ul li a {
  color: #fff;
  text-decoration: none;
}

/*---------------*/
.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  color: #5f5f5f;
}

.search-bar input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-right: 4px;
  background: transparent;
  color: #5f5f5f;
  font-size: 11pt;
}

.right #search-icon {
  font-size: 14pt;
  padding: 0px 4px;
}


.right ul li {
  display: inline-block;
  list-style: none;
}

.right .list li {
  border: 1px solid #193498;
  border-radius: 5px;
  transition: 0.3s;
  padding: 2px 3px;
  cursor: pointer;
}

.list li i {
  font-size: 18pt;
  vertical-align: middle;
}

.right ul li:hover {
  background: #1597e5;
  border: 1px solid #69dadb;
}

.right ul li {
  color: #fff;
}

.account-options {
  background: #ebebeb;
  border: 1px solid #acacac;
  border-radius: 5px;
  width: 200px;
  padding: 5px 5px;
  position: absolute;  
  right: 28px;
  top: calc(50px - 6px);
  display: none;
}

.account-options ul {
  list-style: none;
}

.account-options ul li {
  padding: 7px;
  margin: 5px auto;
  border-radius: 5px;
  border: 1px solid #ebebeb;
}

.account-options ul li:hover {
  background: #fff;
  border: 1px solid #acacac;
}

.menu-account--show {
  display: block;
  opacity: 1;
}

.account-options ul li a {
  text-decoration: none;
  color: #333;
}

.account-options ul li a i{
  padding-right: 5px;
}

/*Notificação*/
.information {
  padding: 10px;
  align-items: center;
  background: #ebebeb;
  border: 1px solid #acacac;
  top: calc(50px - 6px);
  width: 300px;
  height: 450px;
  position: absolute;
  right: 70px;
  border-radius: 5px;
  display: none;
}

.information--show {
  display: block;
}

.information img {
  width: 100px;
}

.information .msg-information {
  border: 1px solid #ebebeb;
  font-size: 10pt;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.information .msg-information:hover {
  background: #fff;
  border: 1px solid #acacac;
}

.information .msg-information a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.information .msg-information a:hover {
  color: #0000ff;
}